<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather API</title>
</head>
<body>
    <div class="header">
        <h1>Weather Checker</h1>
    </div>
    <div class="conatiner">
        <form action="/" method="post">
            <label>enter your city: </label>
            <input type="text" id="mycity" name="cityName">
            <button type="submit">search</button>
        </form>
    </div>
</body>
</html>